# ─── Servidor ───────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ─── Base de datos ───────────────────────────────────────
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/baloncesto-cr?retryWrites=true&w=majority

# ─── JWT ─────────────────────────────────────────────────
JWT_SECRET=cambia_este_secreto_por_algo_largo_y_aleatorio
JWT_EXPIRES_IN=7d

# ─── Cloudinary (imágenes de jugadores, equipos, noticias) ─
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# ─── CORS ────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173

# ─── Email 2FA ───────────────────────────────────────────
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=rdux zmeu vwvf txcc